<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.dao.AftersaleExchangeMapper">
  <resultMap id="BaseResultMap" type="com.school.entity.AftersaleExchange">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
    <result column="action_type" jdbcType="INTEGER" property="actionType" />
    <result column="vat_number" jdbcType="BIGINT" property="vatNumber" />
    <result column="buy_way" jdbcType="VARCHAR" property="buyWay" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, customer, tel, address, phone_model, action_type, vat_number, buy_way, state, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_aftersale_exchange
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_aftersale_exchange
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.school.entity.AftersaleExchange">
    insert into s_aftersale_exchange (Id, customer, tel, 
      address, phone_model, action_type, 
      vat_number, buy_way, state, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{customer,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phoneModel,jdbcType=VARCHAR}, #{actionType,jdbcType=INTEGER}, 
      #{vatNumber,jdbcType=BIGINT}, #{buyWay,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.AftersaleExchange">
    insert into s_aftersale_exchange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phoneModel != null">
        phone_model,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="vatNumber != null">
        vat_number,
      </if>
      <if test="buyWay != null">
        buy_way,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneModel != null">
        #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=INTEGER},
      </if>
      <if test="vatNumber != null">
        #{vatNumber,jdbcType=BIGINT},
      </if>
      <if test="buyWay != null">
        #{buyWay,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.AftersaleExchange">
    update s_aftersale_exchange
    <set>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneModel != null">
        phone_model = #{phoneModel,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=INTEGER},
      </if>
      <if test="vatNumber != null">
        vat_number = #{vatNumber,jdbcType=BIGINT},
      </if>
      <if test="buyWay != null">
        buy_way = #{buyWay,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.AftersaleExchange">
    update s_aftersale_exchange
    set customer = #{customer,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone_model = #{phoneModel,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=INTEGER},
      vat_number = #{vatNumber,jdbcType=BIGINT},
      buy_way = #{buyWay,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getExchanges" resultMap="BaseResultMap">
    select * from s_aftersale_exchange
  </select>
</mapper>