<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.dao.SystemPermissionMapper">
  <resultMap id="BaseResultMap" type="com.school.entity.SystemPermission">
    <id column="permissionid" jdbcType="INTEGER" property="permissionid" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
  </resultMap>
  <sql id="Base_Column_List">
    permissionid, permission_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_system_permission
    where permissionid = #{permissionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from s_system_permission
    where permissionid = #{permissionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.school.entity.SystemPermission">
    insert into s_system_permission (permissionid, permission_name)
    values (#{permissionid,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.SystemPermission">
    insert into s_system_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        permissionid,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        #{permissionid,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.SystemPermission">
    update s_system_permission
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionid = #{permissionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.SystemPermission">
    update s_system_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR}
    where permissionid = #{permissionid,jdbcType=INTEGER}
  </update>

  <select id="getPermissionByRoleid" parameterType="int" resultMap="BaseResultMap">
    select sp.permissionid, sp.permission_name
    from s_system_role_permission rp
    left join s_system_permission sp
    on rp.permissionid=sp.permissionid
    where rp.roleid=#{roleid,jdbcType=INTEGER}
  </select>

  <select id="listPermissions" resultMap="BaseResultMap">
    select * from s_system_permission
  </select>
</mapper>